<!DOCTYPE html>
<html>
  <body>

  <div class="card">
    <div class="card-header">  
        <p>
        The questions of quizzes goes here.
      </p>
    </div>


  <div class="card-body">
      <form>
          <input type="radio" name="choice" value="choice1"> Answer1<br>
          <input type="radio" name="choice" value="choice2"> Answer2<br>
          <input type="radio" name="choice" value="choice3"> Answer3<br>
          <input type="radio" name="choice" value="choice4"> Answer4<br>
      </form> 
  <td>
      <button class="btn btn-outline-primary" style="width:100px">
          Previous
       </button>
  <button class="btn btn-outline-primary" style="width:80px">
     Next
  </button>

  </td>
  </div>
</div>
  </body>

  
              
</html>