<div class="card">
  <div class="card-header">
    Section 'x'
  </div>
  <div class="card-body">
    <p>
      Section Content
    </p>
    <p>
      Section Content
    </p>
    <p>
      Section Content
    </p>
    <p>
      Section Content
    </p>
  </div>
</div>
<div class="card">
    <div class="card-header">
      Section 'x'
    </div>
    <div class="card-body">
      <p>
        Section Content
      </p>
      <p>
        Section Content
      </p>
      <p>
        Section Content
      </p>
      <p>
        Section Content
      </p>
  </div>
</div>
<div class="card">
    <div class="card-header">
      Section 'x'
    </div>
    <div class="card-body">
      <p>
        Section Content
      </p>
      <p>
        Section Content
      </p>
      <p>
        Section Content
      </p>
      <p>
        Section Content
      </p>
    </div>
</div>
